.card {
  display: flex;
  flex-direction: column;
}
.cardImage {
  position: relative;
  width: 100%;
  height: 400px;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  flex: 1;
}
.cardBody h1 {
  margin: 0 0 4px 0;
  font-size: 48px;
  color: white;
}
