.sidebar {
  position: fixed;
  width: 240px;
  height: 85%;
  background-color: #516354;
  color: white;
  padding: 25px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease;
  z-index: 100;
}

/* Mobilde başlangıçta gizli */
.closed {
  transform: translateX(-100%);
  left: 0;
}

.open {
  transform: translateX(0);
  left: 16px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 13px 15px;
  border-radius: 12px;

  transition: background 0.2s;
}

.link:hover {
  background-color: #2f3f31;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.active {
  background-color: #2f3f31;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
}

.logout {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.menuButton {
  position: fixed;
  top: 25px;
  left: 15px;
  background: #516354;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 6px;
  z-index: 150;
  cursor: pointer;
}

.closeButton {
  position: relative;
  left: 6px;
  background: #516354;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

/* Büyük ekranlarda hamburger gizlenir */
@media (min-width: 768px) {
  .menuButton {
    display: none;
  }
  .sidebar {
    transform: none !important;
  }
  .overlay {
    display: none;
  }
}

@media (max-width: 768px) {
  .closeButton {
    position: relative;
    background: #516354;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    left: 0;
    margin-right: 12px;
  }
}
