.cardContainer {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  margin-top: 20px;
}

.cardContainer::-webkit-scrollbar {
  height: 6px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.cardContainer::-webkit-scrollbar-track {
  background: transparent;
}

.infoCard {
  background-color: #f3eedb;
  border-radius: 12px;
  padding: 16px;
  min-width: 175px;
  flex-shrink: 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.infoCard:hover {
  transform: scale(1.02);
  border-radius: 12px;
}

.cardIcon {
  font-size: 32px;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 18px;
  margin-bottom: 5px;
  color: #1f2937;
}

.cardText {
  font-size: 14px;
  color: #374151;
}
